<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.koreait.www.repository.BoardDAO">
  <!-- namespace = dao interface의 이름 id=메서드명 -->
  <insert id="insert">
  	insert into board(title, writer, content)
  	values (#{title},#{writer},#{content}) 
  </insert>
  <select id="getList" resultType="com.koreait.www.domain.BoardVO">
    <!-- select * from board where is_del='N' order by bno desc 
    limit #{pageStart}, #{qty} -->
    select a.bno, b.title, b.writer, b.reg_date, b.read_count
    from (
    	select bno from board
    	order by bno desc 
    	limit #{pageStart}, #{qty}
    ) a left join board b on a.bno = b.bno
  </select>
  <select id="getDetail" resultType="com.koreait.www.domain.BoardVO">
  	select * from board where bno = #{bno}
  </select>
  <update id="update">
   update board set title=#{title}, content=#{content}, reg_date=now() where bno=#{bno}
  </update>
  <update id="remove">
  update board set is_del='Y' where bno=#{bno}
  </update>
  </mapper>