<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.koreait.www.repository.BoardDAO">
  <!-- namespace = dao interface의 이름 id=메서드명 -->
  <insert id="insert">
  	insert into board(title, writer, content)
  	values (#{title},#{writer},#{content}) 
  </insert>
  <select id="getList" resultType="com.koreait.www.domain.BoardVO">
    <!-- select * from board where is_del='N' order by bno desc 
    limit #{pageStart}, #{qty} -->
    select a.bno, b.title, b.writer, b.reg_date, b.read_count, b.cmt_qty, b.file_qty
    from (
    	select bno from board where is_del='N' 
    	<include refid="search"></include>
    	order by bno desc 
    	limit #{pageStart}, #{qty}
    ) a left join board b on a.bno = b.bno
    
  </select>
  <select id="getDetail" resultType="com.koreait.www.domain.BoardVO">
  	select * from board where bno = #{bno}
  </select>
  <update id="update">
   update board set title=#{title}, content=#{content}, reg_date=now() where bno=#{bno}
  </update>
  <update id="remove">
  update board set is_del='Y' where bno=#{bno}
  </update>
  <select id="getTotalCount" resultType="int">
  select count(bno) from board where is_del='N'
  <include refid="search"></include>
  </select> 
  
  <update id="readCountUp">
  	update board set read_count = read_count + #{i}
  		where bno = #{bno}
  </update>
  <update id="cmtQtyUpdate">
	update board set cmt_qty = cmt_qty + #{i}
	where bno = #{bno}
	</update>
	
  <update id="fileQtyUpdate">
	update board set file_qty = file_qty + #{size}
	where bno=#{bno}
  </update>
	
  <select id="getBno" resultType="long">
  select max(bno) from board
  </select>
  
  <!-- 
  select * from board where is_del='N' 
  
  select * from board where is_del='N' 
  	and (title like "%test%")
  
  select * from board where is_del='N' 
  	and (title like "%test%" or writer like "%test%")
  
  select * from board where is_del='N' 
  	and (title like "%test%" or writer like "%test%" or content like "%test%")
   -->
  
  <sql id="search">
  <if test="type != null">
  	<trim prefix="and (" suffix=")" suffixOverrides="or">
  		<foreach collection="typeToArray" item="type">
  			<trim suffix="or">
  			<choose>
  			<when test="type == 't'.toString()">
  				title like concat('%', #{keyword}, '%')
  			</when>
  			<when test="type == 'w'.toString()">
  				writer like concat('%', #{keyword}, '%')
  			</when>
  			<when test="type == 'c'.toString()">
  				content like concat('%', #{keyword}, '%')
  			</when>
  			</choose>
  			</trim>
  		</foreach>
  	</trim>
  </if>
  </sql>
  
  </mapper>